---
import { getRelativeLocaleUrl } from "astro:i18n";
import { ui } from "../i18n/ui";
import { determineLocale, locale } from "../service/language";
import { useTranslations } from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
import { Image } from "astro:assets";

import githubSVG from "../images/svg/github-mark.svg";
import linkedInSVG from "../images/svg/linkedin-mark.svg";
import discordSVG from "../images/svg/discord-mark.svg";
import aboutSVG from "../images/svg/nav/about-icon.svg";
import imagesSVG from "../images/svg/nav/images-icon.svg";
import blogSVG from "../images/svg/nav/blog-icon.svg";
import softwareSVG from "../images/svg/nav/software-icon.svg";

determineLocale(Astro.url, Astro.preferredLocale);

const githubLink = "https://github.com/mr-xray";
const discordLink = "https://discordapp.com/users/472479669141372943";
const linkedInLink = "https://www.linkedin.com/in/bernhard-steirer/";

const t = useTranslations(locale.get() as keyof typeof ui);
interface Props {
  noLang?: boolean;
}

const { noLang } = Astro.props;
---

<link
  href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
  rel="stylesheet"
/>
<div
  class="relative z-10 w-full p-4 bg-white shadow-[0_2px_5px_0_rgba(0,0,0,0.2)]"
>
  <div class="flex flex-row items-center justify-between w-11/12 mx-auto">
    <div class="font-black text-xl">
      <a href={getRelativeLocaleUrl(locale.get(), "/")}>Bernhard Steirer</a>
    </div>
    <div
      class="hidden lg:flex space-x-12 justify-between [&>*]:flex [&>*]:items-center [&>*]:justify-center [&>div>a>img]:mx-1"
    >
      <div>
        <a href={getRelativeLocaleUrl(locale.get(), "about")} class="flex"
          ><Image src={aboutSVG} alt="Person icon" width="20" height="20" />
        {t("nav.about")}</a
        >
      </div>
      <div>
        <a href={getRelativeLocaleUrl(locale.get(), "software")} class="flex">
        <Image src={softwareSVG} alt="<>" width="20" height="20" />
        {t("nav.dev")}
        </a>
      </div>
      <div>
        <a href={getRelativeLocaleUrl(locale.get(), "images")} class="flex"
          ><Image src={imagesSVG} alt="Image icon" width="20" height="20" />
        {t("nav.pics")}</a
        >
      </div>
      <div>
        <a href={getRelativeLocaleUrl(locale.get(), "blog")} class="flex"
          >
        <Image src={blogSVG} alt="Book icon" width="20" height="20" />
        {t("nav.blog")}</a
        >
      </div>
      <div class="flex-row flex-shrink-0 [&>*]:mx-1">
        <a href={githubLink} target="_blank">
          <Image src={githubSVG} alt="Github" width="20" height="20" />
        </a>
        <a href={discordLink} target="_blank">
          <Image src={discordSVG} alt="Discord" width="20" height="20" />
        </a>
        <a href={linkedInLink} target="_blank">
          <Image src={linkedInSVG} alt="LinkedIn" width="20" height="20" />
        </a>
      </div>
      {noLang ? <></> : <div><LanguagePicker /> </div> }
    </div>
    <!-- Responsive Burger -->
    <div class="flex lg:hidden navbar-burger space-x-10">
      <div class="flex items-center justify-center">
        {noLang ? <></> : <div><LanguagePicker /> </div> }
      </div>
      <div class="relative flex place-items-center">
        <i class="text-center absolute fas fa-bars cursor-pointer" id="opener"
        ></i>
      </div>
    </div>
  </div>
</div>
<div
  class="transition-all ease-in-out duration-300 w-80 fixed -top-0 -right-80 invisible z-50 flex flex-col justify-start
  [&>*]:pl-5 [&>*]:p-2 [&>*]:flex [&>div>a>img]:mr-2 bg-white min-h-fit h-full text-lg shadow-[-2px_0_15px_0_rgba(0,0,0,0.2)]"
  id="menu"
>
  <div>
    <i class="text-center fas fa-times cursor-pointer text-xl" id="cancel"></i>
  </div>
  <div>
    <a href={getRelativeLocaleUrl(locale.get(), "about")} class="flex">
    <Image src={aboutSVG} alt="Person icon" width="20" height="20" />
    {t("nav.about")}</a>
  </div>
  <div>
    <a href={getRelativeLocaleUrl(locale.get(), "software")} class="flex">
    <Image src={softwareSVG} alt="<>" width="20" height="20" />
    {t("nav.dev")}
    </a>
  </div>
  <div>
    <a href={getRelativeLocaleUrl(locale.get(), "images")} class="flex">
    <Image src={imagesSVG} alt="Image icon" width="20" height="20" />
    {t("nav.pics")}</a>
  </div>
  <div>
    <a href={getRelativeLocaleUrl(locale.get(), "blog")} class="flex"
          >
    <Image src={blogSVG} alt="Book icon" width="20" height="20" />
    {t("nav.blog")}</a
        >
  </div>
  <div class="flex-row flex-shrink-0 [&>*]:mx-1">
    <a href={githubLink} target="_blank">
      <Image src={githubSVG} alt="Github" width="25" height="25" />
    </a>
    <a href={discordLink} target="_blank">
      <Image src={discordSVG} alt="Discord" width="25" height="25" />
    </a>
    <a href={linkedInLink} target="_blank">
      <Image src={linkedInSVG} alt="LinkedIn" width="25" height="25" />
    </a>
  </div>
</div>
<script is:inline>
  function checkMenu(checked) {
    const menu = document.getElementById("menu");
    if (checked) {
      menu.classList.add("menu-visible");
    } else {
      menu.classList.remove("menu-visible");
    }
  }

  window.onresize = function () {
    var w = window.outerWidth;
    if (w > 1024) {
      checkMenu(false);
    }
  };

  document
    .querySelectorAll("#cancel")
    .forEach((element) =>
      element.addEventListener("click", () => checkMenu(false)),
    );

  document
    .querySelectorAll("#opener")
    .forEach((element) =>
      element.addEventListener("click", () => checkMenu(true)),
    );
</script>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @tailwind variants;

  .menu-visible {
    right: 0;
    visibility: visible;
  }
</style>
